@font-face {
  font-family: "Pretendard";
  /* src: local("Happiness-Sans"), url(${Font_R}) format('truetype');  */
  src: url("/src/assets/fonts/Pretendard-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  /* src: local("Happiness-Sans"), url(${Font_B}) format('truetype'); */
  src: url("/src/assets/fonts/Pretendard-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  /* src: local("Happiness-Sans"), url(${Font_B}) format('truetype'); */
  src: url("/src/assets/fonts/Pretendard-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  /* src: local("Happiness-Sans"), url(${Font_B}) format('truetype'); */
  src: url("/src/assets/fonts/Pretendard-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Freesentation-9Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}
